#wrapper{
width: 500px;
margin: 0 auto;
background-color: aquamarine;
}
form  { display: table;      }
p     { display: table-row;  }
label { display: table-cell;
    text-align: right;
    }
input { display: table-cell; }
h1 {
    text-align: center
}